*{
font-family: sans-serif;
}
body{
background: linear-gradient(to left, transparent,  #796fff 0%, #974fb4 70%);

}
main{
display: flex;
flex-wrap: wrap;
height: 100%;
flex-direction: column;
}
.articulo{
height: 100vw;
padding: 15px;
}
.titulo_opcion{
display: flex;
color: rgb(5, 5, 5);
justify-content: center;
margin: 20px;

}
.opciones{
display: flex;
margin: auto;
margin-top: 28px;
}
.box-option{
display: flex;
justify-content: center;
margin: 10px;
padding: 3px;
display: inline;
height: 100px;
align-items: center;
flex-direction: column;

}
.contenedora {
flex-grow: 1;
background-color: rgba(255, 255, 255, 0.30);
display: flex;
justify-content: space-evenly;
padding: 10px;
margin: 10px;
text-align: center;
flex-wrap: wrap;
align-content: flex-start;
<<<<<<< Updated upstream
=======
height: 300px;
border-radius: 6%;
>>>>>>> Stashed changes

}
.notas {
color: rgb(0, 0, 0);
margin: 5px;
}
.contentIdEstudiante{

margin-top: 12px;
padding: 10px;
position: relative;
margin: 5px;
}
.contentNota {
margin: auto;
margin-top: 12px;
padding: 10px;
position: relative;
margin: 5px;
}
.boton,.boton2,.boton3{
margin-top: 12px;
width: 150px;
height: 25px;
display: none;
padding: 8px;
}
.content_inputs{
margin: 8px;
}
.contenedor_boton{
align-items: center;
}
.tRegistro,.tPromedio{
display: none;
outline: 1px solid rgb(247, 244, 244);
}

.mensaje{
    display: flex;
    align-items: center;
    text-wrap: balance;
}
.opciones{
    padding: 8px;
}